* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  list-style-type: none;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #0b0c10;
  color: white;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 40px;
  margin-right: 10px;
  border-radius: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

header nav ul li a:hover {
  background-color: #4a5568;
}

header nav ul li.dropdown {
  position: relative;
}

header nav ul li .categories {
  display: none;
  position: absolute;
  background-color: #2d3748;
  top: 100%;
  padding: 10px;
  border-radius: 4px;
  z-index: 999;
}

header nav ul li .categories .catContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

header nav ul li .categories .catContainer img {
  height: 20px;
  margin-right: 10px;
}

header nav ul li .categories .catName a {
  color: white;
  text-decoration: none;
}

header nav ul li .categoriesButton {
  cursor: pointer;
}

header nav ul li:hover .categories {
  display: block;
  left: 30%;
}

.catImage {
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*container*/
.container {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .heading {
  position: relative;
  height: max-content;
  padding: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.container .heading h1 {
  position: relative;
  font-size: 4em;
  color: #66fcf1;
  padding: 20px;
  z-index: 2; /* Ensure text is above the overlay */
}

@media (max-width: 768px) {
  .container .heading h1 {
    font-size: 3em;
  }
}

.container .content {
  height: max-content;
  width: 80%;
  /* border: 1px solid red; */
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Category Card */
.catCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 300px;
  margin: 10px 0;
}

.catCard:hover {
  transform: translateY(-5px);
}

.catCardImage img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.catDesc {
  padding: 1rem;
}

.catDesc a {
  text-decoration: none;
  color: inherit;
}

.catDescTitle h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.catDescDesc p {
  font-size: 1rem;
  color: #555;
}

.otherCategories {
  height: max-content;
  width: 50%;
  /* border: 1px solid red; */
  margin: 20px 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.otherCategories a {
  background: #4a5568;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
}

/*footer*/
footer {
  background: #0b0c10;
  color: #fff;
  padding: 20px 0;
  font-family: "Roboto Mono", monospace;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 20px;
  color: #66fcf1;
}

.footer-section p,
.footer-section ul,
.footer-section li {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li img {
  width: 20px;
  margin-right: 10px;
}

.footer-section .socials {
  margin-top: 15px;
}

.footer-section .socials a {
  display: inline-block;
  margin-right: 10px;
}

.footer-section .socials img {
  width: 30px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background: #45a29e;
  color: #fff;
}

.dark-mode {
  background-color: #1a202c;
  color: #cbd5e0;
}

.dark-mode header {
  background-color: #2d3748;
}

.dark-mode nav ul li a {
  color: #cbd5e0;
}

.dark-mode nav ul li a:hover {
  background-color: #4a5568;
}

.dark-mode .catCard {
  background-color: #2d3748;
  color: #cbd5e0;
}

.dark-mode .catCard:hover {
  transform: translateY(-5px);
}

.dark-mode .footer-content,
.dark-mode .footer-bottom {
  background-color: #2d3748;
  color: #cbd5e0;
}

.dark-mode .socials a img {
  filter: invert(1);
}

.dark-mode .container .heading h1 {
  color: #66fcf1;
}
