<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Omobolaji Durojaiye" />
    <title>Admin Login | Rēadmire</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/classes.css')}}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/adminLogin.css')}}"
      type="text/css"
    />

    <!-- Favicon and Apple Touch Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='apple-icon-180x180.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='favicon-32x32.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='manifest.json')}}"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="flashMessage">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
    <div class="login-container" data-aos="fade-up">
      <h1>Admin Login</h1>
      <form action="/admin/login/" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="login-button">Login</button>
      </form>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
