<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Rēadmire, blogs, blogging platform, diverse ideas, articles, health articles, Conservation articles, technical artices, creativity, reader engagement, knowledge sharing, sign up, engaging articles, get food recipes"
    />
    <meta
      name="description"
      content="Rēadmire is a dynamic blog web application for readers who seek and appreciate quality content. Discover thoughtful articles and insightful writing that you'll admire and enjoy. Join our community of passionate readers today."
    />
    <meta name="author" content="Omobolaji Durojaiye" />
    <meta name="author" content="Adeniyi Samuel" />
    <!-- <meta name="author" content="Alabi Oluwatobiloba Ezekiel" /> -->
    <title>{%block title%} {%endblock title%} | Rēadmire</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/categoriesPageTemplateBase.css')}}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/classes.css')}}"
      type="text/css"
    />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{url_for('static', filename='/apple-icon-57x57.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{url_for('static', filename='/apple-icon-60x60.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{url_for('static', filename='/apple-icon-72x72.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{url_for('static', filename='/apple-icon-76x76.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{url_for('static', filename='/apple-icon-114x114.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{url_for('static', filename='/apple-icon-120x120.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{url_for('static', filename='/apple-icon-144x144.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{url_for('static', filename='/apple-icon-152x152.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='/apple-icon-180x180.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{url_for('static', filename='/android-icon-192x192.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{url_for('static', filename='/favicon-96x96.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static', filename='/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='/manifest.json')}}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="navigator">
      <div class="navigator-item" id="profile">
        <a href="/feed">
          <img
            src="{{url_for('static', filename='icons/home.png')}}"
            alt="home Icon"
          />
          <p>Home</p>
        </a>
      </div>

      <div class="navigator-item" id="categories">
        <img
          src="{{url_for('static', filename='icons/categories.png')}}"
          alt="Categories Icon"
        />
        <p>Categories</p>
        <div class="dropdown-menu" id="categoriesDropdown">
          <div class="dropdown-item">
            <a href="/general">
              <img
                src="{{url_for('static', filename='icons/general.png')}}"
                alt="General Icon"
              />
              <p>General</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/technical">
              <img
                src="{{url_for('static', filename='icons/technical.png')}}"
                alt="Technical Icon"
              />
              <p>Technical</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/food">
              <img
                src="{{url_for('static', filename='icons/food.png')}}"
                alt="Food Icon"
              />
              <p>Food</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/conservation">
              <img
                src="{{url_for('static', filename='icons/conservation.png')}}"
                alt="Conservation Icon"
              />
              <p>Conservation</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/health">
              <img
                src="{{url_for('static', filename='icons/health.png')}}"
                alt="Health Icon"
              />
              <p>Health</p>
            </a>
          </div>
        </div>
      </div>

      <div class="navigator-item" id="profile">
        {% if user %}
        <a href="{{ url_for('profile', username=user.name) }}">
          {% if user.profile_picture %}
          <img
            src="{{ url_for('static', filename='uploads/' + user.profile_picture) }}"
            alt="Profile Image"
          />
          {% else %}
          <img
            src="{{url_for('static', filename='icons/profile.png')}}"
            alt="Profile Icon"
          />
          {%endif%}
          <p>Profile</p>
        </a>
        {% else %}
        <a href="{{ url_for('userSignup') }}">
          <img
            src="{{ url_for('static', filename='icons/signup.png') }}"
            alt="Signup Icon"
          />
          <p>Signup</p>
        </a>
        {% endif %}
      </div>

      {% if user %}
      <div class="navigator-item" id="logout">
        <a href="{{ url_for('userLogout') }}">
          <img
            src="{{url_for('static', filename='icons/logout.png')}}"
            alt="Logout Icon"
          />
          <p>Logout</p>
        </a>
      </div>
      {% endif %}
    </div>

    <main>
      <div
        class="catHeading"
        style="background-image: url('{{ background_image }}'); background-position: center; background-size: cover;"
      >
        <h1>{%block catName%}{%endblock catName%}</h1>
      </div>

      <form action="{{ url_for('search') }}" method="GET" id="searchForm">
        <div class="search-container">
          <input type="text" placeholder="Search for Articles..." />
          <button type="submit" class="search-button">Search</button>
        </div>
      </form>

      <div class="tag">
        <h2>Popular:</h2>
      </div>
      {%block popular%}
      <div class="popular">
        <div class="articles">
          <div class="article-box">
            <img
              src="{{url_for('static', filename='images/logo.png')}}"
              alt="Article 1"
            />
            <div class="article-title"><a href="#">Article Title 1</a></div>
          </div>

          <div class="article-box">
            <img
              src="{{url_for('static', filename='images/logo.png')}}"
              alt="Article 1"
            />
            <div class="article-title"><a href="#">Article Title 1</a></div>
          </div>

          <div class="article-box">
            <img
              src="{{url_for('static', filename='images/logo.png')}}"
              alt="Article 1"
            />
            <div class="article-title"><a href="#">Article Title 1</a></div>
          </div>

          <div class="article-box">
            <img
              src="{{url_for('static', filename='images/logo.png')}}"
              alt="Article 1"
            />
            <div class="article-title"><a href="#">Article Title 1</a></div>
          </div>
        </div>
      </div>
      {%endblock popular%}

      <div class="tag">
        <h2>Recent:</h2>
      </div>
      {%block recent%}
      <div class="recent">
        <div class="recent-compartment">
          <img
            src="{{url_for('static', filename='images/logo.png')}}"
            alt="Article Image"
          />
          <div class="recent-details">
            <a href="">
              <div class="recent-title">Article Title</div>
              <div class="recent-description">
                This is a brief description of the article.
              </div>
            </a>
          </div>
          <div class="view-count">
            123
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye-fill"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>
          </div>
        </div>

        <div class="recent-compartment">
          <img
            src="{{url_for('static', filename='images/logo.png')}}"
            alt="Article Image"
          />
          <div class="recent-details">
            <a href="">
              <div class="recent-title">Article Title</div>
              <div class="recent-description">
                This is a brief description of the article.
              </div>
            </a>
          </div>
          <div class="view-count">
            123
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye-fill"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>
          </div>
        </div>

        <div class="recent-compartment">
          <img
            src="{{url_for('static', filename='images/logo.png')}}"
            alt="Article Image"
          />
          <div class="recent-details">
            <a href="">
              <div class="recent-title">Article Title</div>
              <div class="recent-description">
                This is a brief description of the article.
              </div>
            </a>
          </div>
          <div class="view-count">
            123
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye-fill"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>
          </div>
        </div>

        <div class="recent-compartment">
          <img
            src="{{url_for('static', filename='images/logo.png')}}"
            alt="Article Image"
          />
          <div class="recent-details">
            <a href="">
              <div class="recent-title">Article Title</div>
              <div class="recent-description">
                This is a brief description of the article.
              </div>
            </a>
          </div>
          <div class="view-count">
            123
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye-fill"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>
          </div>
        </div>
      </div>
      {%endblock recent%}
    </main>

    <script>
      document
        .getElementById("categories")
        .addEventListener("click", function () {
          document
            .getElementById("categoriesDropdown")
            .classList.toggle("active");
        });
    </script>
  </body>
</html>
