<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Rēadmire, blogs, blogging platform, diverse ideas, articles, health articles, Conservation articles, technical articles, creativity, reader engagement, knowledge sharing, sign up, engaging articles, get food recipes"
    />
    <meta
      name="description"
      content="Rēadmire is a dynamic blog web application for readers who seek and appreciate quality content. Discover thoughtful articles and insightful writing that you'll admire and enjoy. Join our community of passionate readers today."
    />
    <meta name="author" content="Omobolaji Durojaiye" />
    <title>{{ article.title }} | Rēadmire</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/contentPageBase.css')}}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/classes.css')}}"
      type="text/css"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{url_for('static', filename='/apple-icon-57x57.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{url_for('static', filename='/apple-icon-60x60.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{url_for('static', filename='/apple-icon-72x72.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{url_for('static', filename='/apple-icon-76x76.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{url_for('static', filename='/apple-icon-114x114.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{url_for('static', filename='/apple-icon-120x120.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{url_for('static', filename='/apple-icon-144x144.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{url_for('static', filename='/apple-icon-152x152.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='/apple-icon-180x180.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{url_for('static', filename='/android-icon-192x192.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{url_for('static', filename='/favicon-96x96.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static', filename='/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='/manifest.json')}}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    {#<p class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
    </p>#}

    <div class="navigator">
      <div class="navigator-item" id="profile">
        <a href="/feed">
          <img
            src="{{url_for('static', filename='icons/home.png')}}"
            alt="home Icon"
          />
          <p>Home</p>
        </a>
      </div>

      <div class="navigator-item" id="categories">
        <img
          src="{{url_for('static', filename='icons/categories.png')}}"
          alt="Categories Icon"
        />
        <p>Categories</p>
        <div class="dropdown-menu" id="categoriesDropdown">
          <div class="dropdown-item">
            <a href="/general">
              <img
                src="{{url_for('static', filename='icons/general.png')}}"
                alt="General Icon"
              />
              <p>General</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/technical">
              <img
                src="{{url_for('static', filename='icons/technical.png')}}"
                alt="Technical Icon"
              />
              <p>Technical</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/food">
              <img
                src="{{url_for('static', filename='icons/food.png')}}"
                alt="Food Icon"
              />
              <p>Food</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/conservation">
              <img
                src="{{url_for('static', filename='icons/conservation.png')}}"
                alt="Conservation Icon"
              />
              <p>Conservation</p>
            </a>
          </div>

          <div class="dropdown-item">
            <a href="/health">
              <img
                src="{{url_for('static', filename='icons/health.png')}}"
                alt="Health Icon"
              />
              <p>Health</p>
            </a>
          </div>
        </div>
      </div>

      <div class="navigator-item" id="profile">
        {% if user %}
        <a href="{{ url_for('profile', username=user.name) }}">
          {% if user.profile_picture %}
          <img
            src="{{ url_for('static', filename='uploads/' + user.profile_picture) }}"
            alt="Profile Image"
          />
          {% else %}
          <img
            src="{{url_for('static', filename='icons/profile.png')}}"
            alt="Profile Icon"
          />
          {%endif%}
          <p>Profile</p>
        </a>
        {% else %}
        <a href="{{ url_for('userSignup') }}">
          <img
            src="{{ url_for('static', filename='icons/signup.png') }}"
            alt="Signup Icon"
          />
          <p>Signup</p>
        </a>
        {% endif %}
      </div>

      {% if user %}
      <div class="navigator-item" id="logout">
        <a href="{{ url_for('userLogout') }}">
          <img
            src="{{url_for('static', filename='icons/logout.png')}}"
            alt="Logout Icon"
          />
          <p>Logout</p>
        </a>
      </div>
      {% endif %}
    </div>
    <!-- Background video -->
    <video autoplay loop muted playsinline id="background-video">
      <source
        src="{{ url_for('static', filename='videos/' ~ video_name ~ '.mp4') }}"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>

    <!-- Overlay -->
    <div class="video-overlay"></div>


    <button id="scrollToTopBtn" title="Go to top">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-up"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
        />
      </svg>
    </button>

    <div class="container">
      <div class="main-content">
        <div class="article">
          <img
            src="{{ url_for('static', filename='uploads/' + article.cover_image_url) }}"
            alt="{{article.title}}"
          />
          <div class="category">
            <a href="/{{ article.category }}"> {{ article.category }} </a>
          </div>
          <div class="view">
            <div class="view">
              <p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                  />
                </svg>
                <span>{{ article.view_count }}</span>
              </p>
            </div>
          </div>
          <div class="date">
            <p>Published: {{ article.created_at.strftime('%B %d, %Y') }}</p>
          </div>
          <div class="comment">
            <button type="button" class="commentButton" title="Click to read all comments">
              comments <span class="commentNumber">{{ comments|length }}</span>
            </button>
          </div>
          {#
          <div class="hook">
            <h3>What's this article about?</h3>
            <p class="hookText">
              You care Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Vitae, molestiae? You care Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Vitae, molestiae? You care Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Vitae, molestiae? You care
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
              molestiae?
            </p>
          </div>
          #}
          <div class="title">
            <h1>{{ article.title }}</h1>
          </div>
          <div class="content">
            <p class="article-content">{{ article.content | safe }}</p>
          </div>

          {% if article.youtube_link %}
          <div class="youtube-video">
            <h2>Watch the Video</h2>
            <iframe
              width="560"
              height="315"
              src="{{ article.youtube_link }}"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="sidebar">
        <div class="related-articles">
          {% for related_article in related_articles %}
          <div class="card">
            <img
              src="{{ url_for('static', filename='uploads/' + related_article.cover_image_url) }}"
              alt="Related Article"
            />
            <div class="category">
              <a href="/{{ related_article.category }}">
                {{ related_article.category }}
              </a>
            </div>
            <div class="title">
              <a
                href="{{ url_for('contentPage', title=related_article.title.replace(' ', '-')) }}"
                >{{ related_article.title }}</a
              >
            </div>
            <div class="description">{{ related_article.description }}</div>
            <div class="date">
              Published: {{ related_article.created_at.strftime('%B %d, %Y') }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      

      <!-- Social Media Share Section -->
      <div class="social-share">
        <p>Share this article:</p>
        <div class="social-icons">
          <a
            href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('contentPage', title=article.title, _external=True) }}"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='icons/facebook.png') }}"
              alt="Facebook"
            />
          </a>
          <a
            href="https://twitter.com/intent/tweet?url={{ url_for('contentPage', title=article.title, _external=True) }}&text={{ article.title }}"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='icons/twitter.png') }}"
              alt="Twitter"
            />
          </a>
          <a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_for('contentPage', title=article.title, _external=True) }}&title={{ article.title }}&summary={{ article.content[:200] }}&source=LinkedIn"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='icons/linkedin.png') }}"
              alt="LinkedIn"
            />
          </a>
          <a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_for('contentPage', title=article.title, _external=True) }}&title={{ article.title }}&summary={{ article.content[:200] }}&source=LinkedIn"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='icons/whatsapp.png') }}"
              alt="LinkedIn"
            />
          </a>
          {#<a
            href="mailto:?subject=I wanted you to see this site&amp;body=Check out this article: {{ url_for('contentPage', title=article.title, _external=True) }}"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='icons/email.png') }}"
              alt="Email"
            />
          </a>#}
        </div>

        <div class="advertisement">
          <p>Advertisement</p>
        </div>
      </div>
    </div>

    
  </div>
</div>
</div>
    <!-- Modal for displaying newest five comments -->
    <div id="commentModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Newest Comments</h2>
        <div class="comments-section">
          {% for comment in comments %}
          <div class="comment-item">
            <img 
              src="{{ url_for('static', filename='uploads/' + comment.user.profile_picture) }}" 
              alt="{{ comment.user.name }}" 
              class="comment-profile-picture"
            />
            <div class="comment-content">
              <p class="comment-name">{{ comment.user.name }}</p>
              {#<p class="comment-text">{{ comment.comment }}</p>#}
              <p class="comment-date">{{ comment.created_at.strftime('%B %d, %Y') }}</p>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>
        
        <!-- Link to all comments page -->
        <a href="{{ url_for('commentPage', title=article.title.replace(' ', '-')) }}" class="view-all-comments">
          View all comments
        </a>      
      </div>
    </div>
    
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          let userHasSpentOneMinute = false;
      
          setTimeout(function() {
              userHasSpentOneMinute = true;
              trackUserView();
          }, 60000); // 60 seconds
      
          function trackUserView() {
              if (userHasSpentOneMinute) {
                  fetch("{{ url_for('track_article_view', article_id=article.id) }}", {
                      method: "GET",
                      headers: {
                          "X-CSRFToken": "{{ csrf_token() }}"
                      }
                  })
                  .then(response => {
                      if (!response.ok) {
                          throw new Error("Network response was not ok");
                      }
                      return response.json();
                  })
                  .then(data => {
                      if (data.status === 'success') {
                          console.log('User view tracked successfully.');
                      } else {
                          console.error('Failed to track user view.');
                      }
                  })
                  .catch(error => {
                      console.error('There was a problem with the fetch operation:', error);
                  });
              }
          }
      });
    </script>
    
    <script>
      document
        .getElementById("categories")
        .addEventListener("click", function () {
          document
            .getElementById("categoriesDropdown")
            .classList.toggle("active");
        });

        
      let mybutton = document.getElementById("scrollToTopBtn");

      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      mybutton.onclick = function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      };

      // Dropdown menu toggle
      document.addEventListener('DOMContentLoaded', function () {
        const categoriesButton = document.querySelector('.categoriesButton');
        const categoriesMenu = document.querySelector('.categories');

        categoriesButton.addEventListener('click', function () {
          categoriesMenu.classList.toggle('hidden');
        });

        document.addEventListener('click', function (e) {
          if (!categoriesButton.contains(e.target) && !categoriesMenu.contains(e.target)) {
            categoriesMenu.classList.add('hidden');
          }
        });
      });

    </script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const commentButton = document.querySelector('.commentButton');
    const modal = document.getElementById('commentModal');
    const closeButton = document.querySelector('.close');
  
    commentButton.addEventListener('click', function () {
      modal.style.display = 'block';
    });
  
    closeButton.addEventListener('click', function () {
      modal.style.display = 'none';
    });
  
    window.addEventListener('click', function (event) {
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    });
  });
  </script>
  
    
    
  </body>
</html>
