<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/mediaPage.css')}}"
      type="text/css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='/apple-icon-180x180.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{url_for('static', filename='/android-icon-192x192.png')}}"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <!-- Back Button -->
    <button class="back-button" onclick="history.back()">← Back</button>

    <div class="container">
      <!-- Video Box -->
      <div class="box" data-aos="fade-up">
        <a
          href="https://www.youtube.com/channel/UCZO7utMn2L6738nvlXTecbQ"
          target="_blank"
        >
          <div class="icon">▶️</div>
          <div class="text">Watch Videos</div>
        </a>
      </div>

      <!-- Audio Box -->
      <div class="box" data-aos="fade-up" data-aos-delay="100">
        <a href="/audio-page">
          <div class="icon">🎧</div>
          <div class="text">Listen to Audio</div>
        </a>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
